/** photogram icon */

#icon {
    border-radius: 50%;
}

<<<<<<< HEAD
:root {
    --green: #9ACD32;
    /* --green: #79B16C; */
}

.bg-green {
    background-color: var(--green);
}
=======

/** general */
>>>>>>> ebf563fb0187c82a0ad789bfb5d4c11d036c1753

body {
    background-color: lightgray;
}

p {
    font-weight: 500;
    font-size: 16px;
}


/** Home page*/

#home-head {
    font-style: italic;
}

#home-image {
    box-shadow: 0 4px 8px 0 rgb(0, 89, 255);
}

.home-contain {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 200px;
}

.home-contain1 {
    padding: 20px;
<<<<<<< HEAD
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: left !important;
    width: 22rem;

}

.center-div {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-height: 90vh;
}

/* FOR LOGIN FORM */
.form-title {
    font-size: 1.2rem;
}

.form-label {
    font-size: 0.9rem;
=======
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgb(0, 89, 255);
}

.home-item {
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.home-item1 {
    display: flex;
    justify-content: space-around;
}

#btn1 {
    background-color: rgb(152, 211, 63);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#btn2 {
    background-color: rgb(37, 37, 245);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/** form pages  */

#head {
    margin: 0 auto;
    width: 40%;
}

.myform {
    margin: 0 auto;
    width: 40%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
}

.login {
    margin: 0 auto;
    width: 45%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
}

#btn {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(123, 190, 22);
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(123, 190, 22);
}

input {
    margin: 0 auto;
    width: 100%;
>>>>>>> ebf563fb0187c82a0ad789bfb5d4c11d036c1753
}