@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('../fonts/Billabong.woff') format('woff');
}

:root {
    --green: #9ACD32;
    /* --green: #79B16C; */
}

.bg-green {
    background-color: var(--green);
}

body {
    padding-top: 5rem;
    background-color: whitesmoke;
}

.billabong {
    font-family: 'Billabong';
    font-weight: bold;
    font-size: 17pt;
    letter-spacing: 1px;
}

.billabong-bold {
    font-family: 'Billabong';
    font-weight: bold;
    font-size: 26pt;
    letter-spacing: 1px;
}

.blue {
    background-color: #3897f0;

}

.pd-8 {
    padding-right: 8px;
}


.block-white {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: left !important;
    width: 22rem;


}

.center-div {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-height: 90vh;
}

/* FOR LOGIN FORM */
.login-title {
    font-size: 1.2rem;
}

.login-label {
    font-size: 0.9rem;
}