@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('../fonts/Billabong.woff') format('woff');
}


body{
    padding-top: 8rem;
}

/* photogram font */

.billabong {
    font-family: 'Billabong';
    font-weight: bold;
    font-size: 17pt;
    letter-spacing: 1px;
}

.billabong-bold {
    font-family: 'Billabong';
    font-weight: bold;
    font-size: 26pt;
    letter-spacing: 1px;
}

.blue {
    background-color: #3897f0;
}


/** photogram icon */

#icon {
    border-radius: 50%;
}


/** general */

body {
    background-color: lightgray;
}

p {
    font-weight: 500;
    font-size: 16px;
}

.center-div {
    position: absolute;
    left: 35%;
    top: 18%;
}


/** Home page*/

#home-head {
    font-style: italic;
}

#home-image {
    box-shadow: 0 4px 8px 0 rgb(0, 89, 255);
}

.home-contain {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.home-contain1 {
    padding: 20px;
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgb(0, 89, 255);
}

.home-item {
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.home-item1 {
    display: flex;
    justify-content: space-around;
}

#btn1 {
    background-color: rgb(152, 211, 63);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#btn2 {
    background-color: rgb(37, 37, 245);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}


/** form pages  */

#head {
    margin: 0 auto;
    width: 40%;
}

.myform {
    margin: 0 auto;
    width: 30%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
    position: absolute;
    left: 35%;
    top: 30%;
}

.login {
    margin: 0 auto;
    width: 30%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
    position: absolute;
    left: 35%;
    top: 30%;
}

#btn {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(123, 190, 22);
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(123, 190, 22);
}


/*Profile*/

input {
    margin: 0 auto;
    width: 100%;
}

.info {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.10);
}

.info h1 {
    font-size: 1.2rem;
}

.info p {
    font-size: 0.9rem;
}

.line-h {
    line-height: 0.3;
}

.center-section {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
}


/*explore*/

.explore-div {
    display: flex;
}


p {
    font-size: 0.9rem;
}

.card-header h3 {
    font-size: 1rem;
}

.bg-green {
    background-color: #9ACD32;
}

.post-title {
    font-size: 1.1rem;
}

.create-post form {
    border-radius: 3px;
}

.create-post form .post-btn {
    border-radius: 5px;
    font-weight: 600;
}

.create-post form {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.10);
}

.create-post .form-input span {
    font-size: 0.9rem;
    font-weight: 600;
}

.create-post .form-input button {
    font-weight: 600;
    border-radius: 3px;
    font-size: 0.9rem;
}

.create-post .form-input label {
    font-size: 1rem;
}

textarea::placeholder {
    font-weight: 600;
    font-size: 1rem;
}